*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

input{
  height: 30px;
  width: 200px;
}


